{% extends 'base.html' %}
{% load static %}
{% block App %}
    <body class="classic">
    <div id="page" class="hfeed site">
        <main id="main" class="site-main">
            <header id="masthead" class="header cover" role="banner">
                <div class="cover-image-holder">
                    <img src="{{ contact.picture.url }}" alt="cover-image">
                </div>
                <div class="header-wrap layout-full">
                    <h1 class="site-title">{{ contact.name }}</h1>
                    <h2>{{ contact.description }}</h2>
                    <div class="header-bottom">
                        <p>
                            {% for social in contact.social_media.all %}
                                <a class="social-link {{ social.title|lower }}" href="{{ social.link }}"></a>
                            {% endfor %}
                        </p>
                    </div>
                    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                        <div class="nav-menu ">
                            <ul>
                                <li><a href="/">Home</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="site-middle">
                <div class="layout-medium">
                    <div id="primary" class="content-area">
                        <div id="content" class="site-content" role="main">
                            <div class="blog-single page-layout">
                                <article class="post type-post hentry">
                                    <header class="entry-header">
                                        <h2 class="entry-title">{{ latest.title }}</h2>
                                        <div class="entry-meta">
                                                <span class="entry-date">
                                                    <time class="entry-date"
                                                          datetime="{{ latest.created_at|date:'c' }}">{{ latest.created_at|date:'F d, Y' }}</time>
                                                </span>
                                            {% for i in  latest.category.all %}
                                                <span class="cat-links">
                                                    <a href="#" title="View all posts in {{ i.title }}"
                                                       rel="category tag">{{ i.title }}</a>
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </header>
                                    <div class="featured-image">
                                        <img src="{{ latest.featured_image.url }}" alt="blog-image">
                                    </div>
                                    <div class="entry-content">
                                        <p>{{ latest.blog_description|safe }}</p>
                                        <footer class="entry-meta tags">
                                            {% for meta in latest.blog_keywords.all %}
                                                <a href="#" rel="tag">{{ meta.title }}</a>
                                            {% endfor %}
                                        </footer>
                                    </div>
                                    <div class="related-posts">
                                        <div class="section-title center">
                                            <h2>
                                                Related Posts
                                            </h2>
                                        </div>
                                        <div class="latest-posts media-grid">
                                            {% for post in posts %}
                                                {% if forloop.counter < 4 %}
                                                    <article class="media-cell">
                                                        <div class="media-box">
                                                            <a href="{{ post.get_absolute_url }}"><img
                                                                    src="{{ post.featured_image.url }}"
                                                                    alt="post-image"></a>
                                                        </div>
                                                        <header class="media-cell-desc">
                                                            <h2>
                                                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                                            </h2>
                                                        </header>
                                                    </article>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </article>
                                <nav class="nav-single row">
                                    {% if prev %}
                                        <div class="nav-previous col-sm-6">
                                            <h6>PREVIOUS POST</h6>
                                            <h2><a href="{{ prev.get_absolute_url }}" rel="prev"><span
                                                    class="meta-nav">←</span> {{ prev.title }}</a></h2>
                                        </div>
                                    {% endif %}
                                    {% if next %}
                                        <div class="nav-next col-sm-6">
                                            <h6>NEXT POST</h6>
                                            <h2><a href="{{ next.get_absolute_url }}" rel="next">{{ next.title }}<span
                                                    class="meta-nav">→</span></a></h2>
                                        </div>
                                    {% endif %}
                                </nav>
                            </div>
                        </div>
                    </div>
                    <footer id="colophon" class="site-footer" role="contentinfo">
                        <div class="site-info">
                            <div class="textwidget">
                                <a href="#">Copyright &copy; 2020 by Yusuf Numan YILMAZ</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </main>
    </div>
    </body>
{% endblock %}